################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OutlookProductivity/.vs/OutlookProductivity/v15/sqlite3
/OutlookProductivity/.vs/OutlookProductivity/v15
/OutlookProductivity/bin/Debug
/OutlookProductivity/obj/Debug
